<h1>Databases homework</h1>

The homework for this week is to create and work with your own database. For that you should:
- Choose a dataset to work with (I personally recommend the pokemon dataset);
- Create your database schema using one of the available tools online such as [dbdiagram](https://dbdiagram.io/) (or, any other tool you prefer);
- Create the database using SQLAlchemy and demonstrate that you can use it by adding, querying, updating and deleting data.

Bonus points: parse the entire csv you're working the database format BUT it is strictly forbidden to do that manually, i.e., WITHOUT using a loop (which, quite frankly, is madness).

In [2]:
import sqlalchemy as sql

In [3]:
# Some more imports.
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String, Boolean
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine

In [4]:
Base = declarative_base()

class Pokemon(Base):
    __tablename__ = 'pokemon'
    
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)

class Attributes(Base):
    __tablename__ = 'attributes'
    
    id = Column(Integer, primary_key=True)
    type1 = Column(String(50))
    type2 = Column(String(50))
    HP = Column(Integer, nullable=False)
    Attack = Column(Integer, nullable=False)
    Defense = Column(Integer, nullable=False)
    Sp_Atak = Column(Integer, nullable=False)
    Sp_def = Column(Integer, nullable=False)
    Legendary = Column(Boolean, nullable=False)
    Generation = Column(Integer, nullable=False)
    pokemon_id = Column(Integer, ForeignKey('pokemon.id'))
    Pokemon = relationship(Pokemon)


engine = create_engine('sqlite:///pokedex.db')


Base.metadata.create_all(engine)

In [5]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker


engine = create_engine('sqlite:///pokedex.db')

Base.metadata.bind = engine

DBSession = sessionmaker(bind=engine)

session = DBSession()

In [6]:
new_pokemon = Pokemon(name='Bulbasaur')
session.add(new_pokemon)
session.commit()

In [ ]:
new_type = Attributes(type1='grass', Pokemon=new_pokemon)
session.add(new_type)
session.commit()

In [18]:
session.rollback()

In [ ]:
type1 = Column(String(50))
    type2 = Column(String(50))
    HP = Column(Integer, nullable=False)
    Attack = Column(Integer, nullable=False)
    Defense = Column(Integer, nullable=False)
    Sp_Atak = Column(Integer, nullable=False)
    Sp_def = Column(Integer, nullable=False)
    Legendary = Column(Boolean, nullable=False)
    Generation = Column(Integer, nullable=False)

In [13]:
new_type = Attributes(type1='grass', 
                      type2=None, 
                      HP=45, 
                      Attack=49, 
                      Defense = 49,
                      Sp_Atak = 65,
                      Sp_def = 65,
                      Legendary=False, 
                      Generation = 1,
                      Pokemon=new_pokemon)
session.add(new_type)
session.commit()

In [14]:
new_pokemon = Pokemon(name='Ivysaur')
session.add(new_pokemon)
session.commit()


new_type = Attributes(type1='grass', 
                      type2=None, 
                      HP=45, 
                      Attack=49, 
                      Defense = 49,
                      Sp_Atak = 65,
                      Sp_def = 65,
                      Legendary=False, 
                      Generation = 1,
                      Pokemon=new_pokemon)
session.add(new_type)
session.commit()

In [15]:
new_pokemon = Pokemon(name='Venusaur')
session.add(new_pokemon)
session.commit()


new_type = Attributes(type1='grass', 
                      type2=None, 
                      HP=80, 
                      Attack=82, 
                      Defense = 83,
                      Sp_Atak = 100,
                      Sp_def = 100,
                      Legendary=False, 
                      Generation = 1,
                      Pokemon=new_pokemon)
session.add(new_type)
session.commit()

In [ ]:
type1 = Column(String(50))
    type2 = Column(String(50))
    HP = Column(Integer, nullable=False)
    Attack = Column(Integer, nullable=False)
    Defense = Column(Integer, nullable=False)
    Sp_Atak = Column(Integer, nullable=False)
    Sp_def = Column(Integer, nullable=False)
    Legendary = Column(Boolean, nullable=False)
    Generation = Column(Integer, nullable=False)

In [17]:
new_pokemon = Pokemon(name='Chameleon')
session.add(new_pokemon)
session.commit()


new_type = Attributes(type1='Fire', 
                      type2=None, 
                      HP=58, 
                      Attack=64, 
                      Defense = 58,
                      Sp_Atak = 80,
                      Sp_def = 65,
                      Legendary=False, 
                      Generation = 1,
                      Pokemon=new_pokemon)
session.add(new_type)
session.commit()

In [8]:
Example querying the pokemon database.
s = sql.select([pokemon])
rp = session.execute(s)
results = rp.fetchall()
results

SyntaxError: invalid syntax (3575773839.py, line 1)

In [29]:
s = sql.select([Attributes])
rp = session.execute(s)
results = rp.fetchall()
results

[(<__main__.Attributes object at 0x0000026B9C170C40>,),
 (<__main__.Attributes object at 0x0000026B9C170CA0>,),
 (<__main__.Attributes object at 0x0000026B9C170D00>,),
 (<__main__.Attributes object at 0x0000026B9C170D60>,),
 (<__main__.Attributes object at 0x0000026B9C170DC0>,)]

In [36]:
# Example with a where statement.

s = sql.select([Attributes]).where(Attributes.pokemon_id == 1)
rp = session.execute(s)
results = rp.fetchall()
results

[(<__main__.Attributes object at 0x0000026B9C170CA0>,)]

In [35]:
s = "SELECT * FROM pokemon"
rp = session.execute(s)
results = rp.fetchall()
results

[(1, 'Bulbasaur'),
 (2, 'Ivysaur'),
 (3, 'Venusaur'),
 (4, 'Chamander'),
 (5, 'Chameleon'),
 (6, 'Bulbasaur')]

In [20]:
# Notice anything different about the query?
s = session.query(Attributes)
s = s.filter(Attributes.pokemon_id == 1)

# Update example.
s.update({Attributes.Attack: 700})
session.commit()

In [23]:
# Delete example
s = sql.delete(Attributes).where(Attributes.pokemon_id == 2)
rp = session.execute(s)

In [22]:
# Closing session.
session.close()